@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLES */

.btn-primary {
  @apply bg-primary rounded-full text-white px-8 py-2;
}

.btn-primary-outline {
  @apply bg-white rounded-full text-primary px-8 py-2;
}

.btn-hollow {
  @apply bg-white;
}

.btn-white {
  @apply bg-white rounded-full text-primary px-8 py-2;
}

.btn-white-outline {
  @apply text-white bg-none border rounded-full  border-white px-8 py-2;
}

/* Other */

.feature-icon {
  @apply rounded-full bg-primary bg-opacity-20 w-16 h-16 flex items-center justify-center mb-4;
}
