/* CUSTOM FONTS */
@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Light.woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Medium.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Bold.woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("./assets/fonts/Satoshi-Black.woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* RESETS */
html {
  scroll-behavior: smooth;
}

/* remove outline from all inputs  */
textarea:focus,
input:focus {
  outline: none;
}

/* remove arrows from number input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL STYLES */
.btn-primary {
  @apply bg-primary rounded-full text-white px-5 md:px-8 py-2 md:py-3 text-sm md:text-base;
}

.btn-primary-outline {
  @apply bg-none border border-primary rounded-full text-primary px-5 md:px-8 py-2 md:py-3 text-sm md:text-base;
}

.btn-hollow {
  @apply bg-white;
}

.btn-white {
  @apply bg-white rounded-full text-primary px-5 md:px-8 py-2 md:py-3 text-sm md:text-base  font-semibold;
}

.btn-white-outline {
  @apply text-white bg-none border rounded-full font-semibold  border-white px-5 md:px-8 py-2 md:py-3 text-sm md:text-base;
}

/* Other */

.feature-icon {
  @apply rounded-full bg-primary bg-opacity-20 w-16 h-16 flex items-center justify-center mb-4;
}

.auth-icon {
  @apply rounded-full bg-primary bg-opacity-20 w-14 h-14 flex items-center justify-center;
}

/* Authentication screens */

.auth-center {
  @apply flex items-center justify-center md:h-[90vh] mt-5 md:-mt-20;
}

.auth-option {
  @apply flex w-full hover:border-primary border px-5 py-4 justify-between rounded-xl items-center border-[#DDDDDD];
}
